@import "tailwindcss";

body {
    font-family: system-ui, Arial;
    max-width: 800px;
    margin: 1em auto;
    padding: 0em 1em;
    background: #0f0f10;
    color: #fff;
}

input {
    flex: 1;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
    background-color: #cbcbcb;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-duration: 200ms;
}

input:focus-visible {
    background-color: #ffffff;
}

button {
    padding: 10px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: fit-content;
}

.card {
    margin-top: 20px;
    border-radius: 12px;
    overflow: hidden;
    background: #1b1b1f;
    display: flex;
    flex-direction: column;
    border: 1px solid #2a2a2f;
}

.image {
    width: 100%;
    object-fit: cover;
}

.content {
    padding: 12px;
}

.title {
    font-weight: 600;
    margin-bottom: 6px;
}

.desc {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 6px;
}

.site {
    font-size: 12px;
    opacity: 0.6;
}
